h1 {
  background: linear-gradient(to right, #a2ff00, #92adfe);
  background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 10px;
}
h3 {
  background: linear-gradient(to right, #ffae00, #92adfe);
   background-clip: text; 
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 10px;
}
@media screen and (max-width: 440px){
  h1 {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
